Body Container

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Navbar Component */
 .navbar {
   position:relative;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.8vh;
    letter-spacing: 4.5px;
    font-weight: 600;
    background-color: #e5e5e5;
} 

.navbar-brand{
  font-weight: 500;
  font-size: 5vh;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
} 

 .navbar-nav  li a:hover {
    color: #9d0208 !important;
} 

/* Home Page  */
 h1{
  font-family: 'Ubuntu', sans-serif;
} 

span{
  font-family: "Trebuchet MS",sans-serif;
  font-weight: bolder;
  color: black;
} 

p{
  font-family: 'Roboto', sans-serif;
  font-size: 2.2vh;
} 

/* Compose Page */
 button{
  border: 5px solid black;
  background-color: #d9d9d9;
}

button:hover{
  box-shadow: 2px 3px 6px grey;
}


/* footer */
.footer{
  /* bottom: 0; */
  position: absolute;
  text-align: center;
  background-color: #e5e5e5;
  height: 50px;
  width: 100%;
  margin-top: 20%;
}
.footer p{
   
  font-size: 2vh;
  padding-top: 15px;
  color: #495057; 
}
.footer-padding{
  padding-bottom: 10px;
}
