
<%- include("navbar") -%>
<!-- Main Content -->
<h1>About Us</h1>
<p>Bloggers Jam is a blogging website, where one can easily post their thoughts on one click. All you need is a title and your words. For all those who wants to paint this world with their beautiful ideas,
BloggersJam is for you.<br>
<br> Shwetal W. with love for all the people who have something to say. <br> 
<br> Start putting your ideas into this world now !!!</p>
<%- include("footer") -%>
</body>
</html>